apiVersion: apps/v1
kind: Deployment
metadata:
  name: #APP_NAME#
  namespace: #NAMESPACE#
  labels:
    app: #APP_NAME#
spec:
  replicas: 1
  selector:
    matchLabels:
      app: #APP_NAME#
  template:
    metadata:
      labels:
        app: #APP_NAME#
    spec:
      containers:
      - name: #APP_NAME#
        image: birdyman/#APP_NAME#:#APP_VERSION#
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: Development
        ports:
        - containerPort: 8080
      nodeSelector:
         tier: frontend
---
apiVersion: v1
kind: Service
metadata:
  name: #APP_NAME#
spec:
  selector:
    app: #APP_NAME#
  type: NodePort
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080

